$RECYCLE.BIN/
*#
*.7z
*.cab
*.class
*.com
*.csv
*.dat
*.dll
*.dmg
*.exe
*.gz
*.iso
*.jar
*.log
*.msi
*.msm
*.msp
*.o
*.out
*.pid
*.rar
*.seed
*.so
*.sql
*.sqlite
*.sqlite3
*.swm
*.swn
*.swo
*.swp
*.tar
*.zip
*~
._*
.AppleDouble
.DS_Store
.env
.git/
.idea
.LSOverride
.node_history
.Spotlight-V100
.tmp
.Trashes
.vscode
coverage
Desktop.ini
drafts
ehthumbs.db
Icon
lcov.info
lib-cov
logs
nbproject
node_modules
node_modules/
out
package-lock.json
pids
results
ssl
testApp
Thumbs.db
